.admin-container {
    padding: 20px;
    text-align: center;
    padding: 250px;
}

.admin-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.admin-action-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.admin-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.admin-button:hover {
    background-color: #0056b3;
}
